@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "glacialbold";
  src: url("../libs/assets/fonts/glacial/GlacialIndifference-Bold.otf");
}

.coverImage {
  background-image: url("../libs/assets/graphics/cover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newspaper {
  background-image: url("../libs/assets/images/newspaper.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  color: black;
  font-family: "inter";
}

rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #9d8ae9;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

.comeBaby {
  animation: fromUp 0.3s ease-in-out;
  /* transform-origin: 50% 0; */
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.goBaby {
  animation: goUp 0.3s ease-in-out;
  /* transform-origin: 50% 0; */
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  /* opacity 0.5s ease-in-out; */
}

.card {
  width: 491px;
  height: 350px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #ded6fe;
  border-left: 30px solid #9d8ae8;
}

@keyframes fromUp {
  from {
    /* transform: scaleY(0); */
    height: 0px;
    /* opacity: 0; */
  }
  to {
    /* transform: scaleY(1); */
    height: 350px;
    /* opacity: 1; */
  }
}
@keyframes goUp {
  from {
    /* transform: scaleY(1); */
    height: 350px;
    /* opacity: 1; */
  }
  to {
    height: 0px;
    /* transform: scaleY(0); */
    /* opacity: 0; */
  }
}
