@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "glad";
  src: url("../libs/assets/fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: "gladbold";
  src: url("../libs/assets/fonts/GlacialIndifference-Bold.otf");
}

@font-face {
  font-family: "mono";
  src: url("../libs/assets/fonts/SauceCodeProNerdFont-Regular.ttf");
}
@font-face {
  font-family: "monobold";
  src: url("../libs/assets/fonts/SauceCodeProNerdFont-SemiBold.ttf");
}

@media (max-width: 1080px) {
  root {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  root {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  root {
    font-size: 10px;
  }
}

/*Webkit Scrollbar : Invisible*/
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "gladbold";
}

* {
  user-select: none;
}
